@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300&display=swap");

h1 {
  font-family: "Lobster", cursive;
  font-weight: 48;
  color: var(--header-color);
  line-height: 0.5;
}

h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 24;
  color: var(--subheader-color);
  line-height: 0;
}
